
.top7pc { margin-top:17%; }
.top50px { margin-top:45px; }
.lilead{/*margin-bottom:20px;*/font-size:16px;font-weight:300;line-height:1.4}@media (min-width:768px){.lilead{font-size:24px}}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans', sans-serif;
}
p, div {
    font-family: 'Open Sans', sans-serif;
}

a:hover{
    color: blue;
}
